/* .navbar {
height: 150px;
background-image: url("");
} */

body {
background-image: url("../public/Jumbotron.png")

};

*{
  font-family: 'Roboto Slab', serif;
};

.nav{
  background-color:#4E8098;

};

.nav-link {
  color: white;
  font-size: 20px;
};

.projectImage {
  height: 250px;
  width: 400px;
}